# Add files here to ignore them from prettier formatting
/dist
/coverage
**/.idea
**/.ng_pkg_build
**/.vscode
dist
e2e
node_modules
package.json
package-lock.json
angular-cli.json
angular.json
nx.json
tsconfig*
tslint*
jest.config.js
protractor.conf.js
